*{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
    letter-spacing: 0.1em;
}

.Tsvetoslav img{
    position:absolute;
    top:51%;
    left:25%;
    width:250px;
    height:250px;
    margin:-51px;
    border-radius:50%;
    border: 5px solid rgb(96, 183, 212)
}


.Mila img{
   position:absolute;
   top:51%;
   left:65%;
   width:250px;
   height:250px;
   margin:-51px;
   border-radius:50%;
   border: 5px solid rgb(223, 131, 144)
}