@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

body{
  background-color: red;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
 

}
.wrapper::before{
    position: absolute;
    content: '';
    height: 350px;
    width: 350px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, rgb(228, 123, 139), white);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, rgb(228, 123, 139), white);
    animation: object1 6s linear infinite;
}

@keyframes object1{
    50%{
        left: -3%;
        top: 41%;
    }
}


html {
  font-size: 62.5%;
}
.memberDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
}


.shine{
  position:absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 52px 8px;
  color: #ffffff;
  background: linear-gradient(to right, white 0, #ffffff 20%, rgb(109, 9, 59) 1%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  justify-content: center;
  margin-right: 200px;
  font-size: 70px;
  
}
@keyframes shine{
  0%{}
  0%{background-position: 0px;}
  60%{background-position: 500px;}
  100%{background-position: 0px;}
}

.chooseAPortfolio {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(/images/wp4974475.webp);
  background-size: 1800px 900px;
  background-repeat: no-repeat;

}

.logo{
  color: white;
  font-size: 45px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 20px;
  
}
span{
  color: rgb(109, 9, 59);
}
.memberDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.memberDiv .btn1 {
  height: 13vw;
  width: 13vw;
  border-radius: 20rem;
  border: none;
  outline: none;
  margin-top: 4rem;
  margin-right: 3.5rem;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  margin:20px;
  
}
.memberDiv .btn2{
  height: 13vw;
  width: 13vw;
  border-radius: 20rem;
  border: none;
  outline: none;
  margin-top: 4rem;
  margin-right: 3.5rem;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  margin:20px;
  
}

.memberDiv .btn1 {
  background-image: url(images/Tsvetoslav.jpg);
  src: url("facebook.com");
  

}

.memberDiv .btn2 {
  background-image: url(images/Mila.jpg);
 
}

.memberDiv .btn1:hover {
  
  box-shadow: inset 0 0 0 5px rgb(109, 9, 59);
}

.memberDiv .btn2:hover {
  
  box-shadow: inset 0 0 0 5px rgb(109, 9, 59);
  
  
}



.memberDiv .btn1 span,
.addIcon span {
  width: inherit;
  /* background-color: red; */
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  text-transform: capitalize;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  
}

.memberDiv .btn2 span,
.addIcon span {
  width: inherit;
  /* background-color: red; */
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  text-transform: capitalize;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

.fa-plus-circle {
  font-size: 7vw;
  color: grey;
  opacity: 0.8;
  display: none;
}

.addIcon {
 background-color: transparent;
}


.addicon:hover > .fa-plus-circle {
  opacity: 1;
}

.memberDiv{
  align-items:flex-start;

}
.memberDiv{
  justify-content: center;
  padding: 300px;
  
}
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;}




  }