*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
    background-color: #101010;
}
.hero{
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #A10035;
}
.menu-icon{
	width: 25px;
	cursor: pointer;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	/* list-style-type: none; */
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	/* padding: 10px  25px; */
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #A10035;
	transition: .4s;
}
.btn{
	background-color:#A10035;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
	cursor: pointer;
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fff;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #A10035;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#A10035;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
	border-radius: 50%;
	border: 5px solid #A10035;

}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #A10035;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#A10035;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #A10035;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #A10035;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #A10035;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#A10035;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #A10035;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#A10035;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #A10035;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #191919;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #A10035;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#A10035;
	bottom: 35px;
	font-size: 14px; 
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 350px;
    width: 350px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, rgb(192, 25, 50), white);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, rgb(192, 25, 50), white);
    animation: object1 6s linear infinite;
}

@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}

#splash{
	width: 700px;
    height: 550px;
    float: right;
}


.newslatter .button{
	background-color:#A10035;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

.newslatter .button:hover{
	background-color: transparent;
	color: #A10035;
	border: 2px solid #A10035;
	cursor: pointer;
}

.skill{

	color: #A10035;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.main#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
.footer2#blur2.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
.more#blur3.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
.content#blur4.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
.hero#blur5.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
.wrapper#blur6.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}


#popup{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	padding: 50px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
	background-color: rgb(25, 25, 25);
	border: 2px solid white;
	border-radius: 20px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	
	
	
}
#popup.active{
	top: 50%;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
	position: fixed;
	z-index: 10;
	overflow: hidden;
	position:fixed;   
}

.form {
	max-width: 500px;
	width: 100%;
	background: whitesmoke;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  }
  
  .form h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
	color: #a6a28d;
	text-transform: uppercase;
	text-align: center;
  }
  
  .form  form{
	width: 100%;
  }
  
  .form .input_field {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
  }
  
   .form .input_field label {
	width: 200;
	color: white;
	margin-right: 10px;
	font-size: 16px;
  }
  
   .form .input_field .input,
   .form .input_field .textarea {
	width: 100%;
	outline: none;
	border: 1px solid #a6a28d;
	font-size: 17px;
	padding: 2px 1px;
	border-radius: 3px;
	transition: all 0.3s ease;
  }
  
   .form .input_field .textarea {
	resize: none;
	height: 125px;
  }
  
   .form .input_field .custom_select {
	position: relative;
	width: 0%;
	height: 40px;
  }
  
  .form .input_field .custom_select select {
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #fff;
	width: 100%;
	height: 100%;
	padding: 8px 8px;
	border-radius: 3px;
	outline: none;
  }

  .form h2{
	color: white;
  }
  .form span{
	color: #A10035;
  }

  .btn{
	background-color:#A10035;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	margin: 5px;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}

/* .input_field .btn1{
	background-color: #A10035;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    margin: 5px 200px 10px;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
	cursor: pointer;

}
.input_field .btn1:hover{
	transform: scale(1.2);
} */



@media only screen and  (max-width: 700px) {
	.hero{
		height: 100vh;
		width: 10%;
		background-size: cover;
		background-position: center;
	}
   .wrapper::before{
	position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: -12%;
    top: 75%;
    background: linear-gradient(45deg, rgb(192, 25, 50), white);
    animation: object1 6s linear infinite;
   }
   .wrapper::after{
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 35%;
    top: 42%;
    background: linear-gradient(45deg, rgb(192, 25, 50), white);
    animation: object1 6s linear infinite;
}
 /* nav .logo{
	float: none;
	width: auto;
	justify-content: center;
 }
 nav .links{
	float: none;
	position: fixed;
	z-index: 9;
	left: 0;
	right: 0;
	top: 100px;
	bottom: 100%;
	width: auto;
	height: auto;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: all 0.5s ease-in-out;
 }
nav .links a{
	font-size: 20px;
} */
/* nav :checked ~ .links{
	bottom: 0;
} */


.about{
	width: 200%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 350px;
	margin-right: 40px;
}
.about-text{
	width: 550px;
}
.about-text h2{
	color: white;
	font-size: 55px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 40px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 35px;
	margin-bottom: 45px;
}
button{
	background-color:#A10035;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 15px 35px;
	border-radius: 50px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #A10035;
	cursor: pointer;
}
.logo{
	color: white;
	font-size: 55px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #A10035;
}
h4{
	font-size: 35px;
}
.multiText{

	font-size: 65px;
}
span.typed-cursor{
	font-size: 0px;
}
input#mail{
	font-size: 18px;
}
.newslatter form input:last-child{
	padding: 13px 30px;

}
footer{
	position: relative;
	width: 110%;
	height: 400px;
	background: #191919;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 55px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 40px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 85px;
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #A10035;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 40px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#A10035;
	bottom: 35px;
	font-size: 20px; 
}
.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	flex-direction: column;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	align-items:center;
	
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #A10035;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #A10035;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
nav ul{
	width: 100%;
	background: blue;
	position: absolute;
	top: 75px;
	right: 0;
	z-index: 2;
}
nav ul li{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
nav ul li a{
	color: #fff;
}
.menu-icon{
	right: 25%;
	display: block;
	
}
#menuList{
	overflow: hidden;
	transition: 0.5s;
}
#splash{
	width: 450px;
    height: 350px;
    float:inherit;
}
#footer.fText{
	font-size: 30px;
}
.service{
	width: 90%;
}
}



